dl dt {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

dl dd {
    display: inline-block;
    margin: 0px 10px;
    padding-bottom: 0;
    vertical-align: middle;
}

dl dt.dtactive {
    background: #ffb339;
}

dl dt.dtpwned {
    background: #4bbb4b;
}

dl dt.dtunrelated {
    background: #ff7b7b;
}

dl dt.dtcome {
    background: #7ea0ff;
}

dl dt.dtinactive {
    background: rgb(230, 230, 230);
}
